<footer class="font-principal bg-red-950 py-4 text-white">
    <div class="mb-2 text-white p-3">
        <h1 class="font-principal font-black  text-3xl my-0 ml-4 h-fit">softwena</h1>
        <p class="font-principal font-bold text-xs h-fit ml-4">La esperanza del pueblo</p>
    </div>
    <div class="social-media flex gap-4 ml-6 mb-6">
        <div class="rounded-full border border-white px-3 py-2 hover:bg-red-900">
            <a routerLink="/">
                <i class="fa-brands fa-facebook text-white"></i>
            </a>
        </div>
        <div class="rounded-full border border-white px-3 py-2 hover:bg-red-900">
            <a routerLink="/">
                <i class="fa-brands fa-x-twitter text-white"></i>
            </a>
        </div>
        <div class="rounded-full border border-white px-3 py-2 hover:bg-red-900">
            <a routerLink="/">
                <i class="fa-brands fa-instagram text-white"></i>
            </a>
        </div>
        <div class="rounded-full border border-white px-3 py-2 hover:bg-red-900">
            <a routerLink="/">
                <i class="fa-brands fa-tiktok text-white"></i>
            </a>
        </div>
    </div>
    <div class="text-center">
        <p class="mb-2 text-sm"><a routerLink="/">Términos y condiciones</a> | <a routerLink="/">Política de privacidad</a></p>
        <p class="font-semibold text-sm">2023&copy; - Todos los derechos reservados</p>
    </div>
</footer>