<section class="hero font-principal">
    <div class="welcome bg-gradient-to-t from-red-200 to-red-100 py-6 lg:flex lg:flex-wrap">
        <div class="text-center text-red-950 mb-8 lg:order-1 lg:w-1/2 lg:pt-8 lg:grid lg:place-items-center">
            <div>
                <h2 class="font-black text-6xl text-center mb-10 xl:text-8xl">Juntos <br> por el <br> cambio</h2>
                <span class="material-symbols-outlined text-8xl xl:text-9xl">published_with_changes</span>
            </div>
        </div>
        <div class="w-full flex justify-center rounded-full overflow-hidden mb-12 lg:order-2 lg:w-1/2 lg:h-full lg:items-center">
            <img src="../../../assets/img/hero_img.jpeg" alt="Hero" class="w-1/2 rounded-full border-4 border-red-950 sm:w-1/3 lg:w-2/3 lg:mt-24">
        </div>

        <div class="lg:order-3 lg:w-1/2 lg:flex lg:justify-center">
            <a routerLink="/contacto" class="grid place-items-center w-fit mx-auto bg-red-950 px-8 py-4 text-white font-bold text-lg rounded-md transition hover:bg-red-900 mb-6 lg:order-3 lg:w-52 lg:mx-36">Contáctanos</a>
        </div>
    </div>
</section>