<h2>Agregar producto</h2>

<form (ngSubmit)="onSubmit()" #formAgregarProducto="ngForm">
    <div>
        <label for="nombreProducto">Nombre del producto</label>
        <input type="text" name="nombreProducto" id="nombreProducto" [(ngModel)]="productoModel.nombre">
    </div>

    <div>
        <label for="marcaProducto">Marca</label>
        <input type="text" name="marcaProducto" id="marcaProducto" [(ngModel)]="productoModel.marca">
    </div>

    <div>
        <label for="clasificacionProducto">Clasificación</label>
        <select name="clasificacionProducto" id="clasificacionProducto" [(ngModel)]="productoModel.clasificacion">
            <option value="">Seleccione una opción</option>
            <option value="Altavoz">Altavoz</option>
            <option value="Micrófono">Micrófono</option>
            <option value="Consola">Consola</option>
            <option value="Auriculares">Auriculares</option>
            <option value="Monitor">Monitor</option>
            <option value="Iluminación">Iluminación</option>
            <option value="Cómputo">Cómputo</option>
        </select>
    </div>

    <div>
        <label for="cantidadProducto">Cantidad</label>
        <input type="text" name="cantidadProducto" id="cantidadProducto" [(ngModel)]="productoModel.cantidad" (keypress)="numberValidation($event)">
    </div>

    <div>
        <label for="imagenProducto">Imagen</label>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" name="imagenProducto" id="imagenProducto">
    </div>
    

    <input type="submit" value="Agregar producto">

</form>