@tailwind base;
@tailwind components;
@tailwind utilities;

input, select, textarea{
    border: 2px solid;
    border-radius: 4px;
    padding: 5px 10px;
}

table{
    max-width: 1800px;
    margin: 0 auto;
}

table td{
    min-width: 150px;
}

.formulario{
    max-width: 576px;
    padding: 28px 32px;
    margin: 28px auto;
    border-radius: 8px;
    border:  2px solid rgb(69 10 10);
}